<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CryptoBoost</title>

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="/static/css/styles.css">

  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">


</head>

<body>

  <div class="overlay off" id="spinner">
    <div class="double-ring"></div>
  </div>

  <header id="header" class="header">
    <a href="{{ url_for('index') }}"><img id="img-logo"
        src="{{ url_for('static', filename='logo.png') }}" width="30" height="30"></a>
    <h1 id="logo"><a href="{{ url_for('index') }}">CryptoBoost</a></h1>

    <div class="dropdown">
      <a href="#" class="dropbtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
          class="bi bi-wallet2" viewBox="0 0 16 16">
          <path
            d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
        </svg>
      </a>
      <div class="dropdown-content" id="wallet-content">

      </div>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li class="{% if request.path == url_for('index') %}active{% endif %}">
          <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="{% if request.path == url_for('purchase') %}active{% endif %}">
          <a href="{{ url_for('purchase') }}">Purchase</a>
        </li>
        <li class="{% if request.path == url_for('status') %}active{% endif %}">
          <a href="{{ url_for('status') }}">Status</a>
        </li>
        <li class="sign-up {% if request.path == url_for('signup') %} active {% endif %}">
          <a href="{{ url_for('signup') }}">Sign-up</a>
        </li>
        <li class="log-in {% if request.path == url_for('login') %} active {% endif %}">
          <a href="{{ url_for('login') }}">Log-in</a>
        </li>
      </ul>
    </nav>

  </header>

  <main>

    {% block contenido %}
    {% endblock contenido %}

    <div id="toast" class="toast">
      <div class="toast-header">
        <strong class="mr-auto">Toast title</strong>
        <span class="close" data-dismiss="toast">&times;</span>
      </div>
      <div class="toast-body">
        Toast description
      </div>
    </div>

  </main>

  <footer id="footer">
    <div class="copyright">
      &copy; Copyright <strong>CryptoBoost</strong>. All Rights Reserved (Bootcamp Zero Keepcoding).
    </div>
    <div class="credits">
      Designed by <a href="https://github.com/LeyPopuli"> Leyre Gracia </a>
    </div>
  </footer><!-- End Footer -->

  {% block scripts %}
  {% endblock scripts %}
  <script src="/static/js/crypto.js"></script>

</body>

</html>