{% extends 'base.html' %}


{% block contenido %}

<div class="form-container">
  <form id="status-form">
    <h1 id="status-title">Status</h1>
    <label for="investment"> Investment</label>
    <input type="number" name="investment" id="investment" disabled>
    <label for="currentvalue"> Current value</label>
    <input type="number" name="currentvalue" id="currentvalue" disabled>
  </form>

  {% endblock contenido %}


  {% block scripts %}
  <script src="/static/js/status.js"></script>
  {% endblock scripts %}